# Python artifacts
*.py[cod]
*$py.class
__pycache__/
.pytest_cache/
.pyre/
.pytype/
.mypy_cache/

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
pip-wheel-metadata/
wheelhouse/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/
ENV/
env/
.env/
.venv/
env.bak/
venv.bak/

# IDEs / editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# JetBrains
*.iml
*.ipr
*.iws

# IPython / Jupyter
.ipynb_checkpoints
profile_default/
ipython_config.py

# Local Python version managers
.python-version

# Testing / coverage
coverage.xml
htmlcov/
.coverage
.coverage.*
.cache
.tox/
.nox/
.hypothesis/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Flask
instance/
.webassets-cache

# Sphinx
docs/_build/

# PyInstaller
*.manifest
*.spec

# Misc
*.swp
*~
*.swo
.DS_Store
Thumbs.db

**.env

**old_bash_scripts
**old_eval
**slurm_logs

**wandb
**slurm-out

**samples**.jsonl

**sae_archetypal**
**old_analysis**
**precomputed_*
**/eval_results_olmo3_**
**analysis/*.jsonl
**analysis/*.html
**analysis/*.pkl
**wandb/*